<section class="screen" id="about">
  <div class="container center-align">
    <div class="row">
      <div>
        <img class="responsive-img" src="{{site.author-image}}" alt="{{site.author-name}}" />
      </div>
      <p>{{site.author-about}}</p>
      <hr />
      <p>
        <a href="{{site.url}}{{site.baseurl}}/#contact" class="waves-effect waves-light btn">Contact Us</a>
        <a href="{{site.url}}{{site.baseurl}}/news" class="waves-effect waves-light btn">News</a>
      </p>
    </div>
  </div>
</section>
