<a class="img-btn" rel="noreferrer" href="https://play.google.com/store/apps/details?id=com.frenziedmarmot.flip&amp;referrer=utm_source%3Dfrenziedmarmot" target="_blank">
  <img alt="Get Congruity on Google Play" src="https://lh3.googleusercontent.com/cjsqrWQKJQp9RFO7-hJ9AfpKzbUb_Y84vXfjlP0iRHBvladwAfXih984olktDhPnFqyZ0nu9A5jvFwOEQPXzv7hr3ce3QVsLN8kQ2Ao=s0"/>
</a>
<a class="img-btn" rel="noreferrer" href="https://www.amazon.com/dp/B0749K6GHK">
  <img alt="Get it on the Amazon App Store" src="assets/images/amazon_store-sm.png" />
</a>
<a class="img-btn" rel="noreferrer" href="https://www.microsoft.com/store/apps/9n16c30jg09p" target="_blank">
  <img src="assets/images/w_store.png" alt="Get Congruity on the Windows Store!" />
</a>
