<section class="screen" id="contact">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        {% if site.email %}
        <p>
          <a
            href="mailto:{{site.email}}"
            class="waves-effect waves-light btn contact-button"
            target="_blank"
            rel="noopener"
          >
            <i class="fas fa-envelope"></i>Send us an Email
          </a>
        </p>
        {% endif %} {% if site.twitter_username %}
        <p>
          <a
            href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
            class="waves-effect waves-light btn contact-button"
            target="_blank"
            rel="noopener"
          >
            <i class="fab fa-twitter"></i>Tweet us on Twitter
          </a>
        </p>
        {% endif %}
        <hr class="faded" />
        <h2>Or you can find us here</h2>
        <div class="social-icons">
          <div class="flow-text">
            {% if site.facebook_username %}
            <a
              href="http://www.facebook.com/{{site.facebook_username}}"
              aria-label="facebook"
              rel="noopener"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            {% endif %} {% unless site.twitter_username == %}
            <a
              href="http://www.twitter.com/{{site.twitter_username}}"
              aria-label="twitter"
              rel="noopener"
              target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            {% endunless %} {% unless site.instagram_username == %}
            <a href="http://www.instagram.com/{{site.instagram_username}}" rel="noopener" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
            {% endunless %} {% unless site.linkedin_username == %}
            <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" rel="noopener" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            {% endunless %} {% unless site.github_username == %}
            <a href="http://www.github.com/{{site.github_username}}" aria-label="github" rel="noopener" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            {% endunless %} {% unless site.youtube_channel_id == %}
            <a
              href="http://www.youtube.com/channel/{{site.youtube_channel_id}}"
              aria-label="youtube"
              rel="noopener"
              target="_blank"
              ><i class="fab fa-youtube"></i
            ></a>
            {% endunless %} {% unless site.reddit_username == %}
            <a href="http://www.reddit.com/u/{{site.reddit_username}}" rel="noopener" target="_blank"
              ><i class="fab fa-reddit"></i
            ></a>
            {% endunless %} {% unless site.behance_username == %}
            <a href="http://www.behance.com/{{site.behance_username}}" rel="noopener" target="_blank"
              ><i class="fab fa-behance"></i
            ></a>
            {% endunless %} {% unless site.dribbble_username == %}
            <a href="http://www.dribbble.com/{{site.dribbble_username}}" rel="noopener" target="_blank"
              ><i class="fab fa-dribbble"></i
            ></a>
            {% endunless %} {% unless site.spotify_username == %}
            <a href="http://open.spotify.com/user/{{site.spotify_username}}" rel="noopener" target="_blank"
              ><i class="fab fa-spotify"></i
            ></a>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
