<li>
  <a class="dropdown-trigger" href="#!" data-target="more-dd"
    >MORE<i class="material-icons right">arrow_drop_down</i></a
  >
  <ul id="more-dd" class="dropdown-content">
    {% for sitepage in site.html_pages %} {% unless sitepage.more == %}
    <li class="{% if page.url == sitepage.url | absolute_url %}active{% endif %}">
      <a href="{{sitepage.url | absolute_url}}"> {{sitepage.title}} </a>
    </li>
    {% for child in sitepage.children %}
    <li class="{% if page.url == child.url | absolute_url %}active{% endif %}">
      <a href="{{child.url | absolute_url}}"> - {{child.title}} </a>
    </li>
    {% endfor %} {% endunless %} {% endfor %}
  </ul>
</li>
