<footer id="footer">
  <!--Footer Button-->
  <div class="container" id="backtotop">
    <a onclick="window.scroll(0,0)"
      ><span class="material-icons"> arrow_upward </span> BACK TO TOP
      <span class="material-icons"> arrow_upward </span></a
    >
  </div>
  <div class="footer-inner">
    <!--Footer Main Section-->
    <div class="container">
      <div class="row">
        <!--Name Section-->
        <div class="col s12 m4 branding">
          <a href="{{site.url}}{{site.baseurl}}/#about">
            <div>
              <div>
                <img height="24" width="90" src="{{site.author-image-sm}}" alt="{{site.author-name}}" />
              </div>
              <div>
                <p>{{site.author-about | truncate: 100 }}</p>
              </div>
            </div>
          </a>
        </div>

        <!--Link Section-->
        <div class="col s12 m4">
          <h2>More Links</h2>
          <ul>
            {% for sitepage in site.html_pages %} {% unless sitepage.more == %}
            <li>
              <a href="{{sitepage.url | absolute_url}}">{{sitepage.title}}</a>
              {% assign childCount = sitepage.children | size %} {% if childCount > 0 %}
              <ul>
                {% for child in sitepage.children %}
                <li class="dashed">
                  <a href="{{child.url | absolute_url}}"> {{child.title}} </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %} {% endunless %}
            </li>
            {% endfor %}
            <li>
              <a target="_blank" href="{{site.url}}{{site.baseurl}}/feed.xml">Subscribe via RSS</a>
            </li>
          </ul>
        </div>

        <!--News-post Section-->
        <div class="col s12 m4">
          <h2>Recent Posts</h2>
          <ul>
            {% for post in site.posts offset: 0 limit:3 %}
            <li class="dashed">
              <a href="{{post.url | absolute_url}}">{{post.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="center-align" id="credits">
      <i class="far fa-copyright"></i> 2014-{{ "now" | date: "%Y" }} | Frenzied Marmot, LLC
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var navs = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(navs, undefined);
    var dropdowns = document.querySelectorAll('.dropdown-trigger');
    M.Dropdown.init(dropdowns, { hover: false, alignment: 'right', constrainWidth: false, coverTrigger: false });
  });
</script>
