<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a
        href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}"
      >
        <div id="site-title">{{site.title}}</div>
      </a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="home-link {% if page.layout == 'default' %}active{% endif %}">
          <a
            href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}"
            >HOME</a
          >
        </li>
        <li class="about-link"><a href="{{site.url}}{{site.baseurl}}/#about">ABOUT</a></li>
        <li class="contact-link"><a href="{{site.url}}{{site.baseurl}}/#contact">CONTACT</a></li>
        <li>
          <a class="{% if page.layout == 'blog' %}active{% endif %}" href="{{site.url}}{{site.baseurl}}/news">NEWS</a>
        </li>
        {% include dropdown.html %}
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-menu">
  <li class="home-link {% if page.layout == 'default' %}active{% endif %}">
    <a
      href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}"
      >HOME</a
    >
  </li>
  <li class="about-link"><a href="{{site.url}}{{site.baseurl}}/#about">ABOUT</a></li>
  <li class="contact-link"><a href="{{site.url}}{{site.baseurl}}/#contact">CONTACT</a></li>
  <li>
    <a class="{% if page.layout == 'blog' %}active{% endif %}" href="{{site.url}}{{site.baseurl}}/news">NEWS</a>
  </li>
  {% include dropdown-mobile.html %}
</ul>
