@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'materialize.scss';


html,
body {
    scroll-behavior: smooth !important;
    transition: all 0.25s ease;
}


/* width */
::-webkit-scrollbar {
    width: 0.5vmax !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #363636 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black !important;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
}