---
---

@import 'main.scss';

nav {
  background-color: #000;
  #site-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 20px;
    display: inline-block;
  }
  ul {
    li.active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.title {
  margin: 0.75rem;
  color: #333;
  font-size: 2.5rem;
  text-align: center;
}

hr {
  margin: 1rem auto;
  height: 1px;
  border: none;
  display: block;
}

.screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#showcase {
  color: white;
  position: relative;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

  &::before {
    filter: blur(0.15rem);
    background-image: url({{site.heroimage}});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.25;
    content: '';
  }

  & > *:first-child {
    background-image: url({{site.heroinnerimage}});
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .title {
    color: #dddddd;
  }

  .subtitle {
    margin: 0;
    font-size: 1.25rem;
  }
}

.subtitle {
  letter-spacing: 0.25rem;
}

#about {
  a {
    min-width: 25vmax;
    margin: 0.5rem;
    border-radius: 20px;
  }
}

#contact {
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
  }
  .contact-button {
    svg {
      margin-right: 10px;
    }
    border-radius: 20px;
    padding: 0 60px;
  }

  .social-icons {
    svg {
      transition: all 0.15s ease-in-out;
      margin: auto 0.75vmax;
      color: black;

      &:hover {
        transform: scale(1.1);
        filter: opacity(0.75);
      }
    }
  }
}

#blog {
  .blog-card {
    transition: all 0.25s ease;
    margin-bottom: 0.5vmax;
    transform: scale(0.85);
    margin-right: 2.5vmax;
    margin-left: 2.5vmax;
    line-height: normal;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    display: flex;

    &:hover {
      transform: scale(0.875);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }
    a {
      color: #333;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      transform: scale(1);
      margin-bottom: 5vmax !important;
      flex-direction: column;
      &:hover {
        transform: scale(1.025);
        margin-bottom: 5vmax !important;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
      }

      .blog-image {
        padding-top: 50% !important;
      }

      .blog-image-wrapper {
        width: 100%;
        flex: 1 1 100%;
      }
    }

    .block-content-wrapper {
      flex: 1 1;
    }

    .blog-image-wrapper {
      width: 33.333%;
      flex: none;
      display: grid;
      .blog-image {
        margin: 0;
        padding: 0;
        padding-top: 56.25%;
        display: block;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .title {
      margin: 0.5rem !important;
    }

    .content {
      margin: 0.5rem;
    }
  }
}

#footer {
  color: white;
  a {
    color: darkgray;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style-type: circle;
    li.dashed {
      list-style-type: '- ';
    }
  }
  .footer-inner {
    background-color: #333;
    & > * {
      h2 {
        font-size: 1.25rem;
        margin: 0;
        font-weight: 600;
      }
    }
  }
  #backtotop {
    transition: all 0.25s ease;
    width: 12rem;
    padding: 0.5rem;
    margin: auto auto -1px auto;
    border-radius: 10px 10px 0 0;
    background: #333;
    text-align: center;
    .material-icons {
      height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
      font-size: 13px;
      margin: 0 2px;
    }

    &:hover {
      transform: scale(1.05);
      .material-icons {
        height: 13px;
        margin: 0 2px;
      }
    }
    & > a {
      text-decoration: none;
      cursor: pointer;
    }
  }

  ul {
    margin-left: 20px;
  }

  .container {
    margin: auto;
    padding: 1.5rem;
    line-height: 1.25;

    .column {
      display: grid;
      justify-content: center;

      li {
        list-style: circle;
        list-style-position: outside;
      }

      a {
        color: #ccc;

        &:hover {
          color: white;
        }
      }

      figure {
        border: 1.5px solid white;
        border-radius: 50rem;
        justify-content: center;
        margin: auto;
        transition: all 0.25s ease;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  #credits {
    padding: 0.75rem;
    font-size: 0.85rem;

    a {
      text-decoration: underline;
      font-weight: bolder;
      color: white;
    }
  }
}

hr.faded {
  background-color: #787878;
}

#post {
  a:not(.img-btn):not(.btn) {
    text-decoration: underline;
  }
  #post-image {
    border-radius: 0.25rem;
    max-width: 100%;
  }
  .subtitle {
    letter-spacing: 0.05rem;
  }

  #description {
    margin-bottom: 1.25vmax;
  }

  .tag {
    margin: 0.15rem auto;
    background-color: #ccc;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .content {
    ol,
    ul,
    blockquote {
      display: inline-block;
    }
    hr {
      background-color: grey;
    }
    img,
    iframe {
      max-width: calc(100% - 25vw);
      margin: 0.25rem auto;
      @media (max-width: 768px) {
        max-width: calc(100% - 5vw);
      }
    }
    ul,
    ol {
      display: inline-block;
    }
  }

  #disqus_thread {
    margin-top: 5vmax;
  }
}

#page-section {
  .content {
    ul,
    ol,
    blockquote {
      display: inline-block;
    }
  }
}

a {
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  &.img-btn,
  &.img-btn:hover {
    text-decoration: none;
  }

  & > .title {
    text-decoration: none;
  }
}

.project-card {
  .card {
    border: 0;
    background: #000;
    figure {
      margin: 0;
      padding: 0;
      padding-top: 60%;
      display: block;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card-content {
      background-color: #000;
      color: white;
      max-height: 125px;
    }

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    transition: all 0.5s ease;
    margin-bottom: 0.5rem !important;
    display: inline-table;
    &:hover {
      transform: scale(0.975);
    }

    transition: all 0.25s ease;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.9) !important;
    }
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.upper {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.page {
  padding-top: 20px;
  ul {
    list-style-type: disc;
    padding-left: 10px;
    margin-left: 10px;
    li {
      list-style-type: disc;
    }
  }
  min-height: 70vh;
}

h2.question {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
