---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

    <!--Main Section-->
    <section id="project" class="page">
      <div>
        <div class="container center-align">
          <h1 class="title">Check out our apps</h1>
          <hr class="faded" />
          <div class="row">
            {% for app in site.data.apps %} {% include project-card.html project=app %} {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    {% include footer.html %}
  </body>
</html>
