---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body>
    {% include navbar.html %}

    <section id="blog" class="page">
      <div>
        <div class="container">
          <h1 class="title">Check out the latest news</h1>
          <hr class="faded" />
        </div>
      </div>
      <div id="results-container"></div>
      <!--Blog Cards Section-->
      <div class="container">{% for post in site.posts %} {% include blog-card.html %} {% endfor %}</div>
    </section>
    <br />
    <!--Footer begins here-->
    {% include footer.html %}
  </body>
</html>
