---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

    <!--Main Section-->
    <section id="project" class="page">
      <div class="container center-align">
        <h1 class="title">Check out our games</h1>
        <hr class="faded" />
        <div class="row">
          {% for project in site.data.projects %} {% include project-card.html project=project %} {% endfor %}
        </div>
      </div>
    </section>

    <!--Footer-->
    {% include footer.html %}
  </body>
</html>
