---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

    <section id="post" class="page">
      <div class="container">
        <h1 class="title">{{page.title}}</h1>
        <hr class="faded" />
        <div class="row">
          <div class="col s12 m6 p-0">
            <figure class="m-0 p-0">
              <img src="{{page.post-image}}" alt="{{post.title}}" id="post-image" />
            </figure>
          </div>
          <div class="subtitle col s12 m6">
            {% unless page.description.size == 0 %}
            <p id="description" class="content upper">{{page.description | strip | strip_html | strip_newlines }}</p>
            {% endunless %}
            <p class="subtitle upper">Published on <b>{{ page.date | date: "%-B %d, %Y" }}</b></p>
            {%- assign tags = page.tags -%} {%- unless tags.size == 0 -%}
            <p class="subtitle upper">
              <i class="fas fa-tags"></i>
              {% assign i = 0 %} {% for tags in page.tags %}
              <span class="tag">{{page.tags[i]}}</span>
              {% assign i = i | plus:1 %} {% endfor %}
            </p>
            {%- endunless -%} {% assign words = content | number_of_words %} {% assign mins = words | divided_by:180 %}
            {%- unless content.size == 0 or mins == 0 -%}
            <p class="subtitle upper"><i class="fas fa-clock"></i> <b> {{ mins }} min </b>READ</p>
            {%- endunless -%}
          </div>
        </div>
        <div class="content col s12">{{ content }}</div>
        {% unless site.disqus-shortname == "" %}
        <div class="disqus-comments" id="disqus_thread"></div>
        {% endunless %}
      </div>
    </section>
    {% include footer.html %}
  </body>
  {% if site.disqus-shortname %}
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
    (function () {
      /* DON'T EDIT BELOW THIS LINE */
      var d = document,
        s = d.createElement('script');
      s.src = 'https://{{site.disqus-shortname}}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  {% endif %}
</html>
